@model string
@{
    ViewBag.Title = "Success";
}

<div class="jumbotron alert-success">
    <h1>Success</h1>
    <p class="lead">You should be receiving a phone call if you haven't already!</p>
    <p>@Model</p>
    <p><a href="https://github.com/Mishe12/NexmoClient" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>